@import "../fonts/font/stylesheet.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  src: local("Gilroy"), url("../stylePageSecondLine/fonts/font/Gilroy-Regular.woff2") format("woff2"), url("../stylePageSecondLine/fonts/font/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: local("Gilroy"), url("../stylePageSecondLine/fonts/font/Gilroy-Black.woff2") format("woff2"), url("../stylePageSecondLine/fonts/font/Gilroy-Black.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: medium;
  src: local("Gilroy"), url("../stylePageSecondLine/fonts/font/Gilroy-Medium.woff2") format("woff2"), url("../stylePageSecondLine/fonts/font/Gilroy-Medium.woff") format("woff");
}
.second-line-container {
  background-image: url(../images/bg_second_line.png);
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.second-line__wrapper {
  width: 46%;
  margin: 0 auto 6vh auto;
  padding-top: 15vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-line__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding-bottom: 2.7vh;
}

.second-line__subtitle {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}

.second-line-content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 14.2vh;
}

.second-line__card {
  text-align: center;
  width: 26vw;
  padding: 2.7vh;
}

.second-line__card img {
  max-width: 100%;
}

.second-line__card p {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  line-height: 19px;
  color: rgb(255, 255, 255);
  padding-top: 2vh;
}

.third-line__wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-line__list {
  margin: 12vh auto 6vh;
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.third-line__list img {
  max-width: 100%;
}

.third-line__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  padding-bottom: 2.7vh;
}

.third-line__title-blue {
  color: rgb(46, 154, 219);
}

.third-line__subtitle {
  font-family: "Gilroy", "sans serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgb(147, 147, 147);
}/*# sourceMappingURL=style.css.map */